<html>
<head>
<meta charset="utf8"/>
<title>Restaurante "Mr. Chilon"</title>
<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
<style type="text/css">
</style>

<!-- Menu o barra de navegacion -->
<div class="navbar navbar-inverse navbar-static-top">
<div class="container">
<div class="navbar-header">
	<a href="index.html" class="navbar-brand">Inicio</a>
</div>
<ul class="nav navbar-nav">
</ul>
<li>
	<a href="#" class="navbar-brand">Cerrar Sesión</a>
</li>
</div>
</div>

<!-- Contenido destabado -->
<div class="jumbotron" style="margin-top:-30px;">
<div class="container">
<center> <h1 style="font-family:'Gloria Hallelujah', cursive;"> Restaurante de comida mexicana "Mr. Chilon"</h1></center>
<center><h1>Mesero</h1></center>
</div>
</div>

<!-- Contenido 4 columnas -->
<div class="container">
<div class="row">
<div class="col-md-4">
<center><h4>MESAS</h4></center>
<center><img src="mesa.png" class="img-responsive"></center>
<p align=justify>En esta sección se puede notificar la disponibilidad de una mesa en específica.</p>
<center><a href="" class="btn btn-primary">Entrar</a></center>
</div>
<div class="col-md-4">
<center><h4>GENERAR PEDIDO</h3></center>
<center><img src="pedido.png" class="img-responsive"></center>
<p align=justify>En esta sección se realizan los pedidos de cada cliente, también se pueden hacer las cancelaciones.</p>
<center><a href="" class="btn btn-primary">Entrar</a></center>
</div>

</div>

</div>
</div>
</div>

</body>
</html>
