<!doctype html> 
<html lang="es"> 
<head> 
   <link rel="stylesheet" href="css/style.css"> 
   <meta charset="utf-8"> 
   <title>Tutorial 1 jQuery</title> 
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script><!-- jQuery (host Google) --> 
   <script src="cambiarColor.js"></script><!-- La función a realizar --> 
</head> 
<body> 
   <header>Elige un color</header> 
   <form> 
      <input type="button" value="Azul" class="azul"> 
      <input type="button" value="Blanco" class="blanco"> 
   </form> 
</body> 
</html>